body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	background-color: rgb(49, 49, 49);
	color: white;
	text-align: center;
}

h1 {
	font-weight: 400;
}

.copyright {
	position: absolute;
	margin-left: 0;
	margin-right: 0;
	left: 0;
	right: 0;
	text-align: center;
	top: 90%;
}

button {
	font-size: 14px;
	text-decoration: none;
	color: white;
	background: rgb(48, 48, 48);
	width: 90px;
	padding: 8px;
	border: 1px solid white;
	transition: 0.3s all;
	cursor: pointer;
}

button:hover {
	background: white;
	color: black;
}

#mobileText {
	visibility: hidden;
}
